* {
    box-sizing: border-box;
}


h1 {
    text-align: center;
    color:white;
}

form label {

    font-size: large;
}

#grad {
    background-image: linear-gradient(lightblue, blue, navy)
}

.card-body {
    height: fit-content;
    background-color: navy;
    border-style: solid;
}

#card-body {
    background-color: white;
    border-style: solid;
}