* {
    box-sizing: border-box;
}


h1 {
    text-align: center;
    color:white;
}

form label {

    font-size: large;
}

#grad {
    background-image: linear-gradient(lightblue, blue, navy)
}


section {
        display: -webkit-flex;
        display: flex;
}

article {
    -webkit-flex:3;
    -ms-flex: 3;
    flex: 3;
    padding: 10px;
}

.card-group {
    height: fit-content;
}